/* Specific for .sap-phone */
.sap-phone .digitalticket footer .customFooter {
    justify-content: space-around;
}
.sap-phone .digitalticket footer .customFooter .sapMBtn {
    height: 100%;
    width: 30%;
}

/* Specific for .sap-desktop */
.sap-desktop .digitalticket footer .customFooter {
    justify-content: flex-end;
}

/* Specific for .sap-tablet */
.sap-tablet .digitalticket footer .customFooter {
    justify-content: flex-end;
}

/* Generic */
.digitalticket .colorBackground {
	background-color: white;
}
.digitalticket .colorBackground[data-italic],
.digitalticket .colorBackground[data-italic] *:not(a) {
	font-style: italic;
	color: #aaa;
}
.digitalticket .bigFont input {
	font-size: 25px;
}
.digitalticket .bold {
	font-weight: bold;
}
.digitalticket .sapUiFormResGrid > div {
	padding: 0.25rem 0.75rem;
}
.digitalticket .sapMListTbl .sapMText {
	font-size: 14px;
}
.digitalticket .sapMListTblCell {
	padding: 0;
}
.digitalticket .sapMListTblRow {
	height: 2rem;
}
.digitalticket .sapMListTblRow .sapMListTblCell {
	vertical-align: middle;
}
.digitalticket .tableWithNoData tbody {
	display: none;
}
.digitalticket .formFilters {
	background-color: #eff4f9;
    border-bottom: 1px solid #d1e0ee;
    padding: 10px;
    width: 100%;
    border: 0;
}
.digitalticket a {
 	outline: none;
}
.digitalticket .lineLogo {
	font-weight: bold;
	margin-right: 5px;
}
.digitalticket .lineLogo .sapMText {
	color: white;
	font-size: 18px;
}
.digitalticket .lineLogo[data-line="1"] {
	background-color: #cb2508;
}
.digitalticket .lineLogo[data-line="2"] {
	background-color: #90278e;
}
.digitalticket .lineLogo[data-line="3"] {
	background-color: #067634;
}
.digitalticket .lineLogo[data-line="4"] {
	background-color: #ffc10e;
}
.digitalticket .lineLogo[data-line="5"] {
	background-color: #006b9d;
}

.sap-phone .digitalticket .clockPage .confirmActivityBtn>div,
.sap-phone .digitalticket .clockPage .confirmActivityBtn button{
    width: 100%;
}

.digitalticket button.ButtonTextTMB {
	height: 32px;
	padding: 0;
}
.digitalticket button.ButtonTextTMB > span {
	height: 32px;
	border: 0;
}
.digitalticket button.ButtonTextTMB > span > span {
	line-height: 32px;
}
